/* Global Styles */
:root
{
    --darkblue: #050A30;
    --navyblue: #000C66;
    --blue: #0000FF;
    --babyblue: #7EC8E3;
    --black: #000;
    --lightgray: #e8ebf1;
}
body,
html
{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #f3f4f6;
}
.bg-darkblue { background-color:#050A30; }
.bg-navyblue { background-color:#000C66; }
.bg-blue, .btn-blue, .btn-blue:hover { background-color:#0000FF; }
.bg-babyblue { background-color:#7EC8E3; }   
.bg-lightgray { background-color:#e8ebf1; }

.text-darkblue { color:#050A30; }
.text-navyblue { color:#000C66; }
.text-blue { color:#0000FF; }
.text-babyblue { color:#7EC8E3; }   

.border-darkblue { border: 1px solid #050A30; }
.border-navyblue { border: 1px solid #000C66; }
.border-blue { border: 1px solid #0000FF; }
.border-babyblue { border: 1px solid #7EC8E3; }   

/* Header */

/* Body */
